<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>The Scoop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/edit-review-profile.css">
    <link rel="stylesheet" href="styles/edit-resto-modal.css">

    <!--SWAL-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/swal-base.js"></script>
    <script src="/scripts/sweetalert.js"></script>

    <script src="/scripts/login.js" defer></script>
    <script src="/scripts/search-popup.js" defer></script>
    <script src="/scripts/edit-review-modal.js" defer></script>
    <script src="/scripts/cone-slider.js" defer></script>
    <script src="/scripts/edit-user.js" defer></script>
</head>

<body>
    {{>header}}
    {{>overlay}}
    <contents>
        <div class="container" >
            <div class="section-header-area">
                <span class="section-title"><h1>Edit Profile</h1></span>
            </div>
            <div id="user-profile-card" class="card overflow-hidden" >    
                <div id="user-profile-body" class="row no-gutters row-bordered row-border-light">
                    
                    <!--LEFT COL-->
                    <div id="left-col" class="col-md-3 pt-0" style="border-right:1px black solid;">
                        <div class="list-group list-group-flush account-settings-links">
                            <div id="icon-wrapper">
                                <div id="user-icon-container"class="user-area">
                                        <div id="user-icon-second-container" class="user-icon"><img id="user-icon-img" src="/assets/icons/{{user.image}}"></div>
                                </div>
                                <div id="username-area">{{user.username}}</div>
                                <form id="upload-user-photo"  method="post" enctype="multipart/form-data">  

                                
                                <label class="btn btn-outline-primary" for="new-user-icon" style="font-size:0.8rem; margin-block: 3px;">
                                            Upload new photo
                                            <input id="new-user-icon" name="newUserIcon" type="file" class="account-settings-fileinput" accept="image/*" style="height:fit-content">
                                </label> 

                                </form>
                                <div style="text-align: center" class="text-light small mt-1">Allows JPG, PNG. Square Photos are recommended.</div>
                                
                            </div>
                            <a href="#account-general" class="list-group-item list-group-item-action active" data-toggle="list" style="border-top:1px solid rgba(0,0,0,.125)">General</a>
                            <a href="#account-change-password" class="list-group-item list-group-item-action" data-toggle="list">Change Password</a>
                            <a href="#edit-reviews" class="list-group-item list-group-item-action" data-toggle="list" >Edit Reviews</a>
                        </div>
                    </div>

                    {{!-- RIGHT COL --}}
                    <div id="right-col" class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">
                                
                                <hr class="border-light m-0">
                                <div class="card-body">
                                
                                <form id="user-details-form" action="/update-user" method="POST">
                                     <div class="form-group">
                                        <label class="form-label">Name (First Name, Last Name) </label>
                                        <div style="display: flex; justify-content: space-between;">
                                            <input required name="firstname" type="text" class="form-control" value={{user.firstname}}>
                                            <input required name="lastname" type="text" class="form-control mb-1" value={{user.lastname}}>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input required name="email" type="text" class="form-control mb-1" value="{{user.email}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="bio-input" class="form-label">Bio</label>
                                        <textarea id="bio-input" name="bio" class="form-control" rows="5" placeholder="I have no bio yet because I am quirky like that.">{{{user.bio}}}</textarea>
                                    </div>
                                    <br>
                                    <div class="text-right mt-3">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                                   
                                </div>
                            </div>

                            <div class="tab-pane fade" id="account-change-password">
                                <div class="card-body pb-2">
                                    <form id="change-pass-form" action="" onsubmit="return verifyPasswords()">
                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input type="password" class="form-control" id="currentPasswordInput" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input type="password" class="form-control" id="newPasswordInput" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Confirm new password</label>
                                        <input type="password" class="form-control" id="verifyPasswordInput" required>
                                    </div>

                                    <br>
                                    <div class="text-left mt-3 justify-right">
                                        <button id="change-pass-btn" type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                    </form>
                                </div>
                            </div>

                            {{!-- EDIT REVIEWS  --}}
                            <div class="tab-pane fade" id="edit-reviews">

                                
                                {{#each reviews}}
                                
                                <div class="rev-wrapper">
                                <div class="rev-container" id="review{{_id}}">
                                    <div style="display: flex;align-items:center; gap:10px">
                                        <div>
                                            <span class="cone {{#ifGreaterThan rating 2}}green{{/ifGreaterThan}}">{{rating}}&#x1f366;</span> 
                                            <span class="cone blue-bg helpfulMarksArea">{{helpfulMarks}}👍</span>
                                        </div>
                                        
                                        <div>
                                        <div class="rev-resto">
                                            <span class="rev-resto-name" onclick="window.location.href='view-restaurant/name/{{restoName}}'">{{restoName}}</span> 
                                            <span class="rev-date"> created: {{{formatDate createdAt}}}</span>
                                        </div>
                                        <span class="rev-title" onclick="window.location.href='view-restaurant/name/{{restoName}}#review{{_id}}'">{{{title}}}</span>
                                        </div>
                                    </div>
                                        <div class="edit-rev" onclick="openEditReviewModal('{{_id}}')"><img src="/assets/symbols/edit-pencil.png"></div>
                                </div>
                                </div>

                                <hr class="border-light m-0">
                                
                                 {{/each}}     
                         
                                {{!-- review2 --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- DELETE BTN --}}
            <div class="justify-right" style="width: 100%; display:flex; gap: 1rem" >
                <button onclick="window.location.href='/view-user-profile/{{user.username}}'" class="btn btn-primary">View Profile</button>
                <button id="delete-account-btn" type="button" class="btn btn-default md-btn-flat">Delete Account</button>
            </div>
            

        </div>
        {{> edit-review-modal}}
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
        </script>
    </contents>
    
    {{> footer}}     
</body>
</html>