<section id="top-establishments">
    <div class="section-header-area">
        <span class="section-title" id=top-establishments-title><h1>Cherries on Top &#x1f352;</h1></span>
        <span class="more-btn"><a href="/view-restaurants"> more <img src="assets/symbols/arrow-forward.png"></a></span>
    </div>
    <hr class="gradient-red-hr">

    <div class="establishments-area">
        {{#each topEstablishments }}
        <div class="establishments-showcase" onclick="location.href='/view-restaurant/{{_id}}'">
            
            <div class="tab-text">{{tag}}</div>
            <img src="assets/{{mainMedia}}">
            <span class="establishment-name">{{name}}</span>
            <span class="establishment-rating">

            {{#times rating}}
                <span class="cone">&#x1f366;</span>
            {{/times}}
            {{#times fiveMinusRating}}
                <span class="cone-greyed">&#x1f366;</span>
            {{/times}}
                
            </span>
            <hr class="rating-hr">
            <div class="establishment-rating-num">Current Rating</div>

            <span class="establishment-desc">
                <p style="padding-bottom: 5px;">
                {{shortDescription}}
                </p>
            </span>
        </div>
        {{/each}}
    </div>
</section>